

.container{
    margin-top: 120px;
    width: 450px;
}

.button{
  margin-top: 10px;
}

.navbar{
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.display{
  margin-top: 50px;
}
